
ion-label {
  font-size: 14px!important;
  font-weight: 700;
  color: #1e2023!important;
  margin-left: 5px;
}
.post_img {
  width: 100%;
}
.flex-button {
  display: flex;
  justify-content: space-between;
}
.flex-button ion-icon {
  font-size: 26px;
  margin: 4px;
  color: #86888f;
}
.insta-text {
  font-size: 13px;
  margin: 0px 6px 4px 6px;
}
